.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: bisque;
  width: 100vw;
  height: 100px;
}

.layout-children {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: calc(100vh - 152px);
}
.timer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}
.board-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
  margin-top: -100px;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  width: 600px;
  background-color: black;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  width: 600px;
  background-color: black;
}

.square {
  width: 70px;
  height: 70px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 23px;
}

.game-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 100px 10px;
  width: 40vw;
  height: 800px;
}

.display-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 0;
}

.submit-button-container {
  width: 20%;
}
.submit-button {
  height: 100px;
  width: 100px;
  background-color: rgb(0, 255, 106);
  border-radius: 100px;
  margin-left: -20px;
}
.reset-button {
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 100px;
  margin-left: -20px;
}

.display-details-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.word-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.textbox {
  font-size: 25px;
  text-align: center;
  height: 72px;
  width: 500px;
}

.display-words {
  display: flex;
  flex-flow: column wrap;
  height: 40%;
  width: 90%;
  border: 1px solid black;
  font-size: 25px;
  margin-top: -50px;
  padding: 20px;
  /* margin-right: 150px; */
}
.word {
  margin: 2px auto;
}

.info-container {
  margin-top: -50px;
  font-size: 25px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: bisque;
}
